<div class="modal-backdrop fade show" (click)="closeModal.emit()"></div>

<div class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title w-100 text-center fw-bold fs-4">
          {{ view === 'login' ? 'Đăng nhập' : 'Tạo tài khoản' }}
        </h5>
        <button type="button" class="btn-close" (click)="closeModal.emit()"></button>
      </div>
      <div class="modal-body px-4 pb-4 px-md-5 pb-md-5">
        
        <app-login-form 
            *ngIf="view === 'login'" 
            (loginSuccess)="closeModal.emit()"
            (showRegister)="view = 'register'"> 
            </app-login-form>

        <app-register-form 
            *ngIf="view === 'register'" 
            (registerSuccess)="view = 'login'" 
            (showLogin)="view = 'login'">
            </app-register-form>
      </div>
    </div>
  </div>
</div>